<div class="navbar">
  <div class="title">
    <img class="logo" src="../../assets/Logo_StudyXP.png" alt="" />
    <a href="#">Study xp</a>
  </div>

  <div class="buttons">
    <a class="bnt" href="/cadastro"> Sing-in </a>

    <a class="bnt" href="/home">
      <b>Login</b>
    </a>
  </div>
</div>

<main class="bg_image">
  <div class="wrapper">
    <img class="logo" src="../../assets/Logo_StudyXP.png" alt="" />
    <div class="content">
      <div class="title">
        <h1>Study xp</h1>
      </div>

      <div class="text">
        <h1>Evoluindo</h1>
        <h1 class="outlined">a cada lição</h1>
      </div>

      <div class="subText">
        <h4>
          Venha dar o próximo passo no ensino à distância, criando um ambiente
          mais fácil e gratificante para seus alunos
        </h4>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</main>

<section class="sobre">
  <div class="wrapper">
    <div class="duvidaTitle">
      <h1>Dúvidas mais comuns</h1>
    </div>
    <div class="perguntas">
      <div class="pergunta">
        <h1>1. De onde veio a idéia?</h1>
        <h3>
          Surgiu apartir de convívio com professores de escola estadual e
          municipal que alegavam uma grande dificuldade para a utilização do
          Google Sala de Aula, Google Meet, e CMSP. Então, criamos este projeto
          para facilitar as coisas para o professor, e também, criar um sistema
          de recompensa para o aluno, buscando incentiva-los a evoluir em todas
          as áreas possíveis
        </h3>
      </div>

      <div class="pergunta">
        <h1>2. O que é o sistema?</h1>
        <h3>
          É um sistema voltado ao uso em escolas, que permite, ao aluno, ter um
          controle de suas atividades, provas, notas, grade escolar, chamadas de
          vídeo, chat interativo e também o sistema de recompensa por nível (XP)
          Ao professor, é permitido um controle sobre os alunos, organização por
          salas e matérias, criação de lives, tarefas, provas, e nosso sistema
          único de recompensa: o XP
        </h3>
      </div>

      <div class="pergunta">
        <h1>3. Ele é pra mim?</h1>
        <h3>
          Se sua instituição busca aumentar o empenho dos seus alunos, bem como
          criar um ambiente mais amigável e cativante, sim, ele é pra você! Em
          pouco tempo de uso, você verá que o rendimento poderá ter aumentado
          satisfatoriamente, bem como a curva de aprendizado de todas as funções
          do software é bem alta. O que está esperando, venha testar hoje mesmo!
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="galeria">
  <div class="wrapper">
    <h1>Galeria</h1>
    <div class="grid">
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
      <img
        class="image"
        src="https://iraja.com.br/wp-content/uploads/2017/09/banner-placeholder.jpg"
      />
    </div>
  </div>
</section>

<section class="opinioes">
  <h1>Feedbacks</h1>
  <div class="grid">
    <div class="feedback">
      <div class="fb_image">
        <img
          class="image"
          src="https://arquidiocesedemanaus.org.br/wp-content/uploads/2016/10/placeholder-profile-male.jpg"
        />
        <h4>Guilherme Ciano</h4>
        <h5>CEO do StudyXP</h5>
      </div>

      <div class="fb_text">
        <h2>Melhor sistema que já vi</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          dignissim accumsan nisi a auctor. Ut sit amet mauris non mi euismod
          ullamcorper sit amet in quam. Cras sollicitudin, quam nec ultricies
          volutpat, dui ipsum pretium eros, ac rutrum lacus purus vel lacus.
          Fusce id velit eget nunc dapibus tristique quis vitae massa. Aenean ut
          dictum augue, nec sagittis magna. Nam ultrices dui sit amet libero
          porttitor facilisis. Pellentesque hendrerit venenatis dolor, eget
          dictum leo vehicula non.
        </p>
      </div>
    </div>

    <div class="feedback">
      <div class="fb_image">
        <img
          class="image"
          src="https://arquidiocesedemanaus.org.br/wp-content/uploads/2016/10/placeholder-profile-male.jpg"
        />
        <h4>Guilherme Ciano</h4>
        <h5>CEO do StudyXP</h5>
      </div>

      <div class="fb_text">
        <h2>Melhor sistema que já vi</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          dignissim accumsan nisi a auctor. Ut sit amet mauris non mi euismod
          ullamcorper sit amet in quam. Cras sollicitudin, quam nec ultricies
          volutpat, dui ipsum pretium eros, ac rutrum lacus purus vel lacus.
          Fusce id velit eget nunc dapibus tristique quis vitae massa. Aenean ut
          dictum augue, nec sagittis magna. Nam ultrices dui sit amet libero
          porttitor facilisis. Pellentesque hendrerit venenatis dolor, eget
          dictum leo vehicula non.
        </p>
      </div>
    </div>

    <div class="feedback">
      <div class="fb_image">
        <img
          class="image"
          src="https://arquidiocesedemanaus.org.br/wp-content/uploads/2016/10/placeholder-profile-male.jpg"
        />
        <h4>Guilherme Ciano</h4>
        <h5>CEO do StudyXP</h5>
      </div>

      <div class="fb_text">
        <h2>Melhor sistema que já vi</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          dignissim accumsan nisi a auctor. Ut sit amet mauris non mi euismod
          ullamcorper sit amet in quam. Cras sollicitudin, quam nec ultricies
          volutpat, dui ipsum pretium eros, ac rutrum lacus purus vel lacus.
          Fusce id velit eget nunc dapibus tristique quis vitae massa. Aenean ut
          dictum augue, nec sagittis magna. Nam ultrices dui sit amet libero
          porttitor facilisis. Pellentesque hendrerit venenatis dolor, eget
          dictum leo vehicula non.
        </p>
      </div>
    </div>

    <div class="feedback">
      <div class="fb_image">
        <img
          class="image"
          src="https://arquidiocesedemanaus.org.br/wp-content/uploads/2016/10/placeholder-profile-male.jpg"
        />
        <h4>Guilherme Ciano</h4>
        <h5>CEO do StudyXP</h5>
      </div>

      <div class="fb_text">
        <h2>Melhor sistema que já vi</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          dignissim accumsan nisi a auctor. Ut sit amet mauris non mi euismod
          ullamcorper sit amet in quam. Cras sollicitudin, quam nec ultricies
          volutpat, dui ipsum pretium eros, ac rutrum lacus purus vel lacus.
          Fusce id velit eget nunc dapibus tristique quis vitae massa. Aenean ut
          dictum augue, nec sagittis magna. Nam ultrices dui sit amet libero
          porttitor facilisis. Pellentesque hendrerit venenatis dolor, eget
          dictum leo vehicula non.
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="info">
    <a
      href="https://www.linkedin.com/in/guilherme-de-camargo-ciano-81562419a/"
      target="_blanck"
    >
      <h3>Guilherme-Ciano</h3>
    </a>
  </div>
  <div class="info">
    <a href="https://github.com/guilherme-Ciano" target="_blanck">
      <h3>@Guilherme-Ciano</h3>
    </a>
  </div>
  <div class="info">
    <a
      href="https://candidates.revelo.com.br/candidates/profile?locale=pt-BR#"
      target="_blanck"
    >
      <h3>Guilherme-Ciano</h3>
    </a>
  </div>

  <div class="info">
    <a routerLink="/download">
      <h3>Study XP APP</h3>
    </a>
  </div>
</footer>

<!-- <div id="sec" class="bordaex">
  <div class="div-int1"></div>

  <div class="div-int2">
    <h1 class="right-text">
      Surgiu apartir de convívio com professores de escola estadual e municipal
      que alegavam uma grande dificuldade para a utilização do Google Sala de
      Aula, Google Meet, e CMSP. Então, criamos este projeto para facilitar as
      coisas para o professor, e também, criar um sistema de recompensa para o
      aluno, buscando incentiva-los a evoluir em todas as áreas possíveis
    </h1>
  </div>

  <div class="div-int3">
    <h1 class="left-text">
      É um sistema voltado ao uso em escolas, que permite, ao aluno, ter um
      controle de suas atividades, provas, notas, grade escolar, chamadas de
      vídeo, chat interativo e também o sistema de recompensa por nível (XP) Ao
      professor, é permitido um controle sobre os alunos, organização por salas
      e matérias, criação de lives, tarefas, provas, e nosso sistema único de
      recompensa: o XP
    </h1>
  </div>

  <a href="/home" class="botão">Continuar</a>
</div> -->
