<link href='https://fonts.googleapis.com/css?family=Reem Kufi' rel='stylesheet'>
<div class="bordaex">



<div class="div-int1">
    
  
   

</div>


<div class="div-int2">
<h1 class="right-text">Surgiu apartir de convívio com professores de escola estadual e 
    municipal que alegavam uma grande dificuldade para a utilização do Google Sala de Aula, Google Meet, e CMSP.
    Então, criamos este projeto para facilitar as coisas para o professor,
    e também, criar um sistema de recompensa para o aluno, buscando incentiva-los a evoluir em todas as áreas possíveis</h1>

   </div>



<div class="div-int3">
    <h1 class="left-text">
        É um sistema voltado ao uso em escolas, que permite, ao aluno, ter um controle de suas atividades, provas, notas, grade escolar,
         chamadas de vídeo, chat interativo e também o sistema de recompensa por nível (XP)
        
        Ao professor, é permitido um controle sobre os alunos, organização por salas e matérias, 
        criação de lives, tarefas, provas, e nosso sistema único de recompensa: o XP</h1>
          
</div>




<a href="/home" class="botão">Continuar</a>



</div>