<div class="navbar">
  <div class="title">Study xp</div>

  <div class="buttons">
    <a class="bnt" href="/cadastro"> Sing-in </a>

    <a class="bnt" href="/home">
      <b>Login</b>
    </a>
  </div>
</div>

<main class="bg_image">
  <div class="wrapper">
    <div class="content">
      <div class="title">
        <h1>Study xp</h1>
      </div>

      <div class="text">
        <h1>Evoluindo</h1>
        <h1 class="outlined">a cada lição</h1>
      </div>

      <div class="subText">
        <h4>
          Venha dar o próximo passo no ensino à distância, criando um ambiente
          mais fácil e gratificante para seus alunos
        </h4>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</main>

<div id="sec" class="bordaex">
  <div class="div-int1"></div>

  <div class="div-int2">
    <h1 class="right-text">
      Surgiu apartir de convívio com professores de escola estadual e municipal
      que alegavam uma grande dificuldade para a utilização do Google Sala de
      Aula, Google Meet, e CMSP. Então, criamos este projeto para facilitar as
      coisas para o professor, e também, criar um sistema de recompensa para o
      aluno, buscando incentiva-los a evoluir em todas as áreas possíveis
    </h1>
  </div>

  <div class="div-int3">
    <h1 class="left-text">
      É um sistema voltado ao uso em escolas, que permite, ao aluno, ter um
      controle de suas atividades, provas, notas, grade escolar, chamadas de
      vídeo, chat interativo e também o sistema de recompensa por nível (XP) Ao
      professor, é permitido um controle sobre os alunos, organização por salas
      e matérias, criação de lives, tarefas, provas, e nosso sistema único de
      recompensa: o XP
    </h1>
  </div>

  <a href="/home" class="botão">Continuar</a>
</div>
