@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.navbar {
  height: auto;
  width: 100%;

  background-color: white;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 100000;

  .title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13pt;

    .logo {
      width: 2%;
      filter: grayscale(100%);
      display: none;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    gap: 2rem;

    .bnt {
      height: 100%;
      text-decoration: none;
      color: black;
      transition: 700ms;

      &:hover {
        color: var(--blue);
      }
    }
  }
}

.wrapper {
  height: 100vh;
  width: 100%;

  background-color: #020520;

  margin: 0;

  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
  justify-content: center;

  .logo {
    left: 400px;
    width: 40%;
    position: absolute;
    z-index: 9;

    opacity: 0.1;
  }

  .content {
    height: fit-content;
    display: flex;
    flex-direction: column;

    position: relative;

    align-items: center;
    justify-content: center;

    z-index: 10;

    .title {
      margin-top: 5rem;
      h1 {
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 95pt;
      }
      padding-bottom: 3rem;
    }

    .text {
      display: flex;
      flex-direction: row;

      margin: 0;
      gap: 01rem;

      h1 {
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 50pt;
      }

      .outlined {
        color: transparent !important;
        -webkit-text-stroke: 2.5px white;
      }

      margin-bottom: 2rem;
    }

    .subText {
      width: 750px;
      h4 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 16pt;
        text-align: center;
        color: white;
      }
    }
  }
}

.wrapper {
  margin-bottom: 0;

  .duvidaTitle {
    display: flex;
    justify-content: center;
    align-content: center;

    h1 {
      color: white;
      font-size: 40pt;
      margin-bottom: 0;
      text-align: center;
    }

    margin-bottom: 0;
  }

  .perguntas {
    padding-left: 10rem;
    padding-right: 10rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;

    .pergunta {
      color: white;
      padding: 1rem;
      border: 4px solid #060b3a;

      border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;

      h1 {
        font-weight: bold;
        text-align: center;

        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      h3 {
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.galeria {
  background-image: linear-gradient(rgba(2, 5, 32, 0.8), rgba(2, 5, 32, 0.8)),
    url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
  background-position: fixed;
  background-size: cover;
  position: relative;

  .wrapper {
    position: relative;
    background-color: transparent;
    h1 {
      color: white;
      display: flex;

      justify-content: center;
      align-content: center;

      margin-bottom: -3rem;
      font-size: 40pt;
    }
    .grid {
      padding-left: 10rem;
      padding-right: 10rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0.5rem;

      .image {
        width: 100%;
        transition: 100ms ease-in-out;

        &:hover {
          transform: scale(1.3);

          box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #3342c7,
            inset -20px 0 80px #08115f, inset 20px 0 300px #3342c7,
            inset -20px 0 300px #08115f, 0 0 50px #fff, -10px 0 80px #3342c7,
            10px 0 80px #08115f;
        }
      }
    }
  }
}

.opinioes {
  height: fit-content;

  background-color: #020520;

  margin: 0;

  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    display: flex;

    justify-content: center;
    align-content: center;

    margin-bottom: -3rem;
    margin-top: 3rem;
    font-size: 40pt;
  }

  .grid {
    padding-left: 10rem;
    padding-right: 10rem;

    margin-top: 6rem;
    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem;

    .feedback {
      display: flex;
      gap: 2rem;

      padding: 1rem;

      align-items: center;
      transition: 100ms ease-in-out;

      border: 4px solid transparent;

      .fb_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30rem;

        .image {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }

        h4 {
          color: white;
          font-weight: bold;
          text-align: center;
          margin: 0;
        }

        h5 {
          color: white;
          text-align: center;
          margin: 0;
        }
      }

      .fb_text {
        display: flex;
        flex-direction: column;

        h2 {
          color: white;
          margin: 0;
        }

        p {
          color: white;
          margin: 0;
        }
      }

      &:hover {
        border: 4px solid #222fa0;

        border-top-right-radius: 32px;
        border-bottom-left-radius: 32px;

        box-shadow: 0 0 50px #6472f573, -10px 0 80px #3342c742,
          10px 0 80px #08115f46;
      }
    }
  }
}

footer {
  height: auto;
  background-color: #111;

  padding-left: 10rem;
  padding-right: 10rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  .info {
    h3 {
      margin: 0;
    }
  }
}

//
.area {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 960px) {
  .navbar {
    width: 100vw;
    .title {
      .logo {
        display: none;
      }
    }

    .buttons {
      gap: 1rem;
    }
  }

  .wrapper {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;

    .logo {
      left: 0px;
      width: 100%;
      position: absolute;
      z-index: 9;

      opacity: 0.1;
    }

    .content {
      .title {
        h1 {
          font-size: 60pt;
        }
      }
      .text {
        h1 {
          font-size: 25pt;
        }

        .outlined {
          -webkit-text-stroke: 1.5px white;
        }
      }

      .subText {
        width: 300px;
        h4 {
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: 12pt;
          text-align: center;
          color: white;
        }
      }
    }
  }

  .sobre {
    .wrapper {
      height: auto;
      margin-bottom: 0;

      .duvidaTitle {
        h1 {
          font-size: 30pt;
          margin-bottom: 1rem;
          margin-top: 1rem;
        }
      }

      .perguntas {
        padding-left: 1rem;
        padding-right: 1rem;

        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        margin-bottom: 1rem;
      }
    }
  }

  .galeria {
    background-image: linear-gradient(rgba(2, 5, 32, 0.8), rgba(2, 5, 32, 0.8)),
      url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
    background-position: fixed;
    background-size: cover;
    position: relative;

    .wrapper {
      position: relative;
      background-color: transparent;
      h1 {
        color: white;
        display: flex;

        justify-content: center;
        align-content: center;

        font-size: 35pt;
      }
      .grid {
        padding: 0;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

        .image {
          width: 100%;
          transition: 100ms ease-in-out;

          &:hover {
            transform: scale(1.3);

            box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #3342c7,
              inset -20px 0 80px #08115f, inset 20px 0 300px #3342c7,
              inset -20px 0 300px #08115f, 0 0 50px #fff, -10px 0 80px #3342c7,
              10px 0 80px #08115f;
          }
        }
      }
    }
  }

  .opinioes {
    padding-left: 10px;
    padding-right: 10px;

    h1 {
      color: white;
      display: flex;

      justify-content: center;
      align-content: center;

      margin-bottom: -3rem;
      margin-top: 3rem;
      font-size: 40pt;
    }

    .grid {
      padding-left: 1rem;
      padding-right: 1rem;

      margin-top: 6rem;
      margin-bottom: 5rem;

      display: grid;
      grid-template-columns: 1fr;

      gap: 2rem;

      .feedback {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: 2rem;

        align-items: center;
        transition: 100ms ease-in-out;

        border: 4px solid transparent;

        .fb_image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 10rem;

          .image {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            display: none;
          }

          h4 {
            color: white;
            font-weight: bold;
            text-align: center;
            margin: 0;
          }

          h5 {
            color: white;
            text-align: center;
            margin: 0;
          }
        }

        .fb_text {
          display: flex;
          flex-direction: column;

          width: 350px;

          h2 {
            color: white;
            margin: 0;
          }

          p {
            color: white;
            margin: 0;
          }
        }
      }
    }
  }

  footer {
    padding-left: 1rem;
    padding-right: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    justify-content: center;

    .info {
      h3 {
        margin: 0;
        font-size: 12pt;
        text-align: center;
      }
    }
  }
}
