.bordaex{

   
    height: 100%;
  
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, #86D8D8, #5070B1);}

.div-int1 {
  background-image:url("../../assets/Rectangle/Retangulo1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
    position: absolute;
    margin-top:5%;
    margin-left:9%;
    width: 80%;
    height: 23%;
  
    }

            .div-int2 {
                background-image:url("../../assets/Rectangle/Retangulo2.png");
                background-size: 80%;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                margin-top:18.5%;
                margin-left:9%;
                width: 80%;
                height: 23%;

                }

                        .div-int3 {
                            background-image:url("../../assets/Rectangle/Retangulo3.png");
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: absolute;
                            margin-top:32%;
                            margin-left:9%;
                            width: 80%;
                            height: 23%;
                       
                            }


        .background-div{background-color:#5070B1;
        
        
        
        }

.prin-text{font-size:350%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Reem Kufi';
    
  
}   
        .right-text{font-size: 115%;
        text-align: left;
        margin-left: 15rem;
        color: rgb(29, 8, 29);
        
        margin-right: 9rem;}

        .left-text{font-size: 115%;
            text-align: left;
            margin-left: 11rem;
            margin-right: 12rem;
            color: rgb(29, 8, 29);
        
        }
       
.div-left-logo{
    border-style: solid;
}


  
  .imagem{
      margin-bottom: auto;
      margin-top: -80px;
      margin-left: 5%;
      display: block;
      position: relative;
      height:70%;
  }

  .imagem2{
    margin-bottom: auto;
    margin-top: -120px;
    margin-left: 5%;
    display: block;
    position: relative;
    height:70%;
}

  .imagem-right{
    margin-right: 5%;
    position: relative;
    margin-top: -11%;
    display: block;
    height:70%;
}

.botão{background-color:  #86D8D8;
    color: white;
    border: 2px solid  #86D8D8; /* Green */
    position: absolute;
    left: 89%;
    top: 90%;   
    display: inline-block;
    padding: 12px 21px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}