
<main>
    <img src="../assets/Logo_Study.png" alt="Logo" />
    <div id="lineUp" display="true" ></div>
    
    <div class="right_section">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>Login</h1>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
                
                <mat-error>Email não foi preenchido ou é inválido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput formControlName="email">
                
                <mat-error>Senha não foi preenchido ou é inválido</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" class="button" type="submit">Entrar</button>
            <h3>Ainda não é cadastrado? Cadastre-se <a href="/cadastro">agora</a></h3>
        </form>

    </div>

</main>

<div class="sobre">
    <mat-card>
        <img src="/assets/quem_somos.svg" alt="">
        <div class="mat-content">
            <mat-card-title>Study XP</mat-card-title>
    
            <mat-card-content id="quemSomos">
                <h3>De onde surgiu a idéia?</h3>

                <p>Surgiu apartir de convívio com professores de escola estadual e municipal que alegavam uma grande dificuldade para a utilização do Google Sala de Aula, Google Meet, e CMSP.</p>

                <p>Então, criamos este projeto para facilitar as coisas para o professor, e também, criar um sistema de recompensa para o aluno, buscando incentiva-los a evoluir em todas as áreas possíveis</p>


                <h3>O que é o <i>Study XP</i>?</h3>

                <p> É um sistema voltado ao uso em escolas, que permite, ao aluno, ter um controle de suas atividades, provas, notas, grade escolar, chamadas de vídeo, chat interativo e também o <b><i> sistema de recompensa por nível (XP)</i></b></p>
                <p>Ao professor, é permitido um controle sobre os alunos, organização por salas e matérias, criação de lives, tarefas, provas, e nosso sistema único de recompensa: o <b><i>XP</i></b></p>

                <h3>O que é o "XP"?</h3>

                <p>É a forma do aluno ser recompensado por sua entrega ao conteúdo lecionado. Ele ganha uma experiencia referente a cada tarefa, trabalho ou prova que realizar e pode ser beneficiado pela escola em que estuda, ao atingir grandes níveis</p>
            </mat-card-content>
        </div>
    </mat-card>
</div>



