.wrapper {
    width: 98vw;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.bg-image{
    height: 37rem;
    width: 35rem;
    margin: 2rem;
    margin-right: 5rem;
}
.form_wrapper{
    width: 31rem;
    height: fit-content;
    position: relative;
    background: linear-gradient(to right, var(--color_init_blue), var(--color_end_blue));
    border-radius: 8px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0.5rem;
    margin-right: -5rem;

    justify-content: center;
    background-color: var(--white);
    border-radius: 8px;
    padding: 1rem;

    h1{
        font-family: var(--font-family);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: 100%

    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 100vw;
        padding: 1rem;
    }

    .bg-image {
        display: none;
    }

    .form {
        width: 100%;
        margin: 0rem;
        margin-right: 0;
    }
}