.background_gradient{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;

    background-image: var(--white);
    // linear-gradient(to right, var(--color_init_blue), var(--color_end_blue));
}
