.background_gradient{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;

    background-image: linear-gradient(to right, var(--color_init_blue), var(--color_end_blue));
}

Header.navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding: 0;
    height: 3rem;
    
    .buttons-wrapper{
        width: 100%;
        height: 100%;
        align-content: center;
        display: flex;

        .button{
            width: 4%;
            justify-content: space-around;
            align-content: center;
            text-align: center;
            margin-left: 5px;

            mat-icon{
                width: 100%;
                height: 95%;
                font-size: 2rem;
                padding: 0.3rem;
                color: var(--contrast-background-color);
                transition: 100ms;

                &:hover {
                    color: var(--blue);
                    border-bottom: 2.5px solid var(--blue);
                }
            }
        }
    }
}
