<header class="navbar">
    <div class="buttons-wrapper">
        <a routerLink="/aluno/dashboard" class="button">
            <mat-icon class="material-icons-outlined">home</mat-icon>
        </a>
        
        <a routerLink="/aluno/config" class="button">
            <mat-icon class="material-icons-outlined">perm_identity</mat-icon>
        </a>

        <a (click)="logout()" class="button last-child">
            <mat-icon class="material-icons-outlined">logout</mat-icon>
        </a>
    </div>
</header>

<div class="wrapper">
    <div class="box">
        <h1>Alterar Dados de Cadastro</h1>

        <div class="foto-wrapper">
            <div class="foto">
                <img src="../../../../assets/cadastro.svg" alt="image">
            </div>
        </div>

        <div class="text-wrappers">
            <form class="mat-typography form" [formGroup]="formAlteracaoNome" (ngSubmit)="AlterarDadosDoAluno(formAlteracaoNome.value)">
                <h3>Nome Atual:</h3>
                <mat-form-field class="CampoParaDigitar" appearance="outline"> <!-- Nome  -->
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput formControlName="nome">
                      
                    <mat-error>Nome não foi preenchido</mat-error>
                </mat-form-field>

                <button mat-flat-button color="primary" class="button" type="submit">Alterar</button>
            </form>

            <form class="mat-typography form" [formGroup]="formAlteracaoPhone" (ngSubmit)="AlterarDadosDoAluno(formAlteracaoPhone.value)">
                <h3>Telefone Atual:</h3>
                <mat-form-field class="CampoParaDigitar" appearance="outline"> <!-- Email  -->
                    <mat-label>Telefone</mat-label>
                    <input type="phone" matInput formControlName="phone">
                    
                    <mat-error>Phone não foi preenchido ou é inválido</mat-error>
                </mat-form-field>

                <button mat-flat-button color="primary" class="button" type="submit">Alterar</button>
            </form>
    
            <form class="mat-typography form" [formGroup]="formAlteracaoEmail" (ngSubmit)="AlterarDadosDoAluno(formAlteracaoEmail.value)">
                <h3>Email Atual:</h3>
                <mat-form-field class="CampoParaDigitar" appearance="outline"> <!-- Email  -->
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    
                    <mat-error>Email não foi preenchido ou é inválido</mat-error>
                </mat-form-field>
                
                <button mat-flat-button color="primary" class="button" type="submit">Alterar</button>
            </form>
              
            <form class="mat-typography form" [formGroup]="formAlteracaoSenha" (ngSubmit)="AlterarDadosDoAluno(formAlteracaoSenha.value)">
                <h3>Redefinir Senha:</h3>
                <mat-form-field class="CampoParaDigitar" appearance="outline"> <!-- Senha  -->
                    <mat-label>Senha Antiga</mat-label>
                    <input type="password" matInput formControlName="password">
                    
                    <mat-error>Senha não foi preenchido ou é inválido</mat-error>
                </mat-form-field>
                
                <button mat-flat-button color="primary" class="button" type="submit">Alterar</button>
            </form>
        </div>
    </div>
</div>
