<div class="wrapper">
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="text_content">
    <h1>Faça o Download</h1>
    <h1 class="outlined">para seu Celular</h1>

    <a href="#">
      <div class="bnt">Baixar</div>
    </a>
  </div>
  <div class="images_content">
    <img
      src="https://t.ctcdn.com.br/Ae-FYy2w_604FjfNyRB_eGBzNNY=/fit-in/400x400/filters:fill(transparent):watermark(wm/prd.png,-32p,center,1,none,15)/i413741.png"
      alt=""
    />
    <div class="box_bg"></div>
    <div class="circle_bg"></div>
    <div class="grid">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
</div>
