<header class="navbar">
    <div class="buttons-wrapper">
        <a routerLink="/prof/dashboard" class="button">
            <mat-icon class="material-icons-outlined">home</mat-icon>
        </a>
        
        <a routerLink="/prof/config" class="button">
            <mat-icon class="material-icons-outlined">perm_identity</mat-icon>
        </a>

        <a href="" class="button last-child">
            <mat-icon class="material-icons-outlined">logout</mat-icon>
        </a>
    </div>
</header>

<div class="wrapper">
    <div class="header-pannel">
    
        <mat-card>
            <div mat-card-avatar class="avatar-icon"></div>
            <mat-card-title>
                <h3>Professor</h3>
                <h1>{{user.Nome}}</h1>
            </mat-card-title>

            <mat-card-subtitle>
                <div class="concluidas" style="display: flex; flex-direction: row;">
                    <h2>Concluidas: </h2>
                    <h2>01</h2>
                </div>

                <div class="pendentes" style="display: flex; flex-direction: row;">
                    <h2>Pendentes: </h2>
                    <h2>08</h2>
                </div>
            </mat-card-subtitle>
        </mat-card>
    </div>

    <div class="buttonAddTarefa">
        <button mat-fab color="warn" style="font-size: 2rem;">+</button>
    </div>

    <div class="act-pannel" *ngFor="let tarefa of tarefas">
        <mat-accordion class="tarefa">
            <mat-expansion-panel>
                
                <mat-expansion-panel-header>
                    
                    <mat-panel-title>
                        <h1>{{tarefa.titulo}}</h1>
                        <h3>{{tarefa.limite_data | date: 'dd/MM'}}</h3>
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                
                <hr>
                <div class="content">
                    <p>{{tarefa.descricao}}</p>
                    <h4>+{{tarefa.xp}}xp</h4>
                </div>
    
                <div class="anexos">
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
    
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
    
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
                </div>
    
                <div class="buttons_box">
                    <button id="anx"><mat-icon>attach_file</mat-icon></button>
                    <button id="fim"><mat-icon>done</mat-icon></button>
                </div>
    
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
