<div class="wrapper">
    <div class="header-pannel">
    
        <mat-card>
            <div mat-card-avatar class="avatar-icon"></div>
            <mat-card-title>
                <h3>Professor</h3>
                <h1>{{user.Nome}}</h1>
            </mat-card-title>
        </mat-card>
        
        <mat-card class="animated-card">
            <mat-icon>check_circle</mat-icon>
        
            <div class="content">
                <mat-card-title>
                    <h2>25</h2>
                </mat-card-title>
            
                <mat-card-subtitle>
                    <h2>Concluidas</h2>
                </mat-card-subtitle>
            </div>
        </mat-card>
        
        <mat-card class="animated-card">
            <mat-icon>info</mat-icon>
        
            <div class="content">
                <mat-card-title>
                    <h2>8</h2>
                </mat-card-title>
            
                <mat-card-subtitle>
                    <h2>Pendentes</h2>
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    <div class="act-pannel">
        <mat-accordion class="tarefa">
            <mat-expansion-panel>
                
                <mat-expansion-panel-header>
                    
                    <mat-panel-title>
                        <h1>tarefa</h1>
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis eros nec nibh consequat, vel hendrerit odio imperdiet. Pellentesque tempus ligula ac orci iaculis imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec semper leo id rutrum volutpat. Vestibulum egestas neque eu velit condimentum condimentum. Fusce sollicitudin laoreet orci, ac lacinia elit bibendum bibendum. In hac habitasse platea dictumst. Vivamus suscipit orci nisi, id placerat ex pretium sit amet. Praesent dapibus purus quis mollis scelerisque. Proin sit amet laoreet ipsum. Sed aliquet, ante non maximus viverra, felis lectus cursus erat, vitae pulvinar arcu arcu a est. Donec luctus at dui eget suscipit. Etiam sapien justo, facilisis et pharetra ac, tincidunt et augue. </p>
                </div>
    
                <div class="anexos">
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
    
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
    
                    <div class="anexo_card">
                        <mat-icon>attach_file</mat-icon>
                        <h4>Docs.word</h4>
                    </div>
                </div>
    
                <div class="buttons_box">
                    <button id="rem">Excluir</button>
                    <button id="fim">Finalizar</button>
                </div>

                <div class="alunos-submit">
                    <mat-card class="done">
                        <div mat-card-avatar class="avatar-icon"></div>
                        <mat-card-title>
                            <mat-icon class="material-icons-outlined">done</mat-icon>
                            <h1>{{user.Nome}}</h1>
                        </mat-card-title>

                        <mat-card-subtitle>
                            <div class="anexos">
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>

                    <mat-card class="done">
                        <div mat-card-avatar class="avatar-icon"></div>
                        <mat-card-title>
                            <mat-icon>done</mat-icon>
                            <h1>{{user.Nome}}</h1>
                        </mat-card-title>

                        <mat-card-subtitle>
                            <div class="anexos">
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                
                                <div class="anexo_card">
                                    <mat-icon>attach_file</mat-icon>
                                    <h4>Docs.word</h4>
                                </div>
                            </div>
                        </mat-card-subtitle>
                    </mat-card>

                    <mat-card>
                        <div mat-card-avatar class="avatar-icon"></div>
                        <mat-card-title>
                            <mat-icon>timer</mat-icon>
                            <h1>{{user.Nome}}</h1>
                        </mat-card-title>
                    </mat-card>
                </div>
    
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
