.sidemenu_Wrapper {
  width: 16rem;
  height: 100%;

  background: #060b3a;

  display: flex;
  flex-direction: column;

  .fechar {
    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100%;
    padding: 1rem;

    background: #090f49;
    color: white;
    text-decoration: none;
  }

  .headerUser {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 1rem;

    color: White;

    .avatarPicture {
      width: 8rem;
    }

    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      margin-bottom: 0rem;
    }

    h2 {
      margin-bottom: 0rem;
    }
  }

  .content {
    margin-top: 0rem;

    .live {
      a {
        color: rgb(235, 112, 112) !important;
      }
    }

    .chat {
      a {
        color: rgb(99, 212, 99) !important;
      }
    }

    .buttons {
      width: 100%;

      a.bnt {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        padding: 1rem;

        align-items: center;
        color: white;

        text-decoration: none;

        background: #151d68;
      }

      .subBnt {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          display: flex;
          align-items: center;

          justify-content: space-between;

          width: 100%;
          padding: 1rem;

          background: #2d389b;
          color: lightsalmon;
          text-decoration: none;
        }
      }
    }
  }
}

.View {
  display: flex;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding-left: 2rem;
  padding-right: 2rem;

  a {
    display: flex;
    justify-content: end;

    padding: 1rem;

    color: white;

    mat-icon {
      font-size: 20pt;
    }
  }
  //background: linear-gradient(to right, var(--color_init_blue), var(--color_end_blue));
}

.act-pannel {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-left: 10rem;
  padding-right: 10rem;

  mat-expansion-panel {
    width: 100%;

    margin-bottom: 1rem;

    align-items: center;

    background-color: rgb(255, 255, 255);

    h1 {
      width: 100%;
      margin: 0;
    }

    h3 {
      margin-bottom: 0rem;
      border-radius: 8px;

      background-color: var(--bs-red);
      padding: 5px;
      font-weight: bold;
      color: antiquewhite;

      justify-content: flex-end;
    }

    hr {
      margin-top: 0rem;
    }
    .content {
      display: flex;
      flex-direction: row;
      gap: 15rem;
      h4 {
        width: max-content;
        height: max-content;
        background-color: var(--grad_end_green);
        padding: 5px;
        font-weight: bold;
        border-radius: 8px;
        font-size: 9pt;
        margin: 0;
      }
    }

    .anexos {
      display: flex;
      flex-direction: row;

      .anexo_card {
        width: 10%;
        display: flex;
        flex-direction: row;
        background-color: rgb(94, 149, 204);

        margin-right: 0.5rem;

        padding: 0.1rem;
        border-radius: 1rem;

        font-size: 5pt;

        justify-content: center;
        align-content: center;

        color: white;

        h4 {
          margin: 0;
        }
      }
    }

    .buttons_box {
      display: flex;
      flex-direction: row;
      width: 20%;
      margin-left: 80%;

      button {
        padding: 0.5rem;
        width: 100%;

        border-radius: 0.1rem;
        border: none;

        font-weight: 200;
        font-size: 12pt;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: aliceblue;

        cursor: pointer;
      }

      button#anx {
        background-color: var(--blue);
        margin-right: 5px;
      }

      button#fim {
        background-color: var(--dark-blue);
      }
    }
  }
}

.glassPannel {
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-content: center;

  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(5px);
    margin: -20px;
  }

  .img {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30rem;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  mat-card-title {
    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: 200;
      margin: 0;
      padding-bottom: -1rem;
      font-size: 16pt;
      width: 10rem !important;
    }
  }

  .act-pannel {
    mat-panel-title {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 0.5fr;
      width: 100%;

      h1 {
        font-size: 16pt !important;
        height: fit-content;
      }

      h3 {
        margin-left: 0rem;
        margin-bottom: 0rem;
        border-radius: 0;

        height: fit-content;

        background-color: var(--bs-red);
        padding: 2px;

        text-align: center;
        font-weight: bold;
        color: antiquewhite;
      }
    }
    .content {
      width: 100%;
      gap: 1rem !important;
    }

    .anexos {
      display: grid !important;
      grid-template-columns: 0.3fr 0.3fr !important;

      gap: 0.5rem;
      .anexo_card {
        width: fit-content !important;
        padding: 0.3rem !important;
      }
    }

    .buttons_box {
      width: 100%;
      margin-left: 0;
      justify-content: flex-end;

      button {
        padding: 0.2rem;
      }
    }
  }
}
