.wrapper {
    width: 99%;
    padding: 0.5rem;
}

.header-pannel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7rem;

    mat-card {
        display: flex;
        flex-direction: row;
    
        width: 100%;
        margin: 0.5rem;
    
        align-items: center;
    
        background-color: aliceblue;

        .avatar-icon{
            height: 5rem;
            width: 5rem;

            margin-right: 1rem;

            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
        }
    
        mat-card-title {
            width: 50%;
            h1 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 200;
                margin: 0;
    
            }
            
            h3 {
                margin: 0;
            }
        }
    
        mat-card-subtitle {
            width: 10%;
            height: 100%;
            margin-left: 50%;
            justify-content: center;
            align-items: center;
            text-align: right;
    
            h2 {
                margin: 0;
            }

            #level_Number {
                position: relative;
                left: 0rem;
                font-size: 1.2rem;
                font-weight: 300;
            }
        }

        .mat-progress-spinner {
            height: 60px;
            width: 60px;

            svg {
                height: 60px;
                width: 60px;

                circle {
                    height: 60px;
                    width: 60px;
                }
            }
        }
    }
}

.act-pannel{
    display: flex;
    flex-direction: column;
    width: 99%;

    mat-expansion-panel{
        width: 100%;
        margin: 0.5rem;
    
        align-items: center;
    
        background-color: aliceblue;

        h1 {
            margin: 0;
        }

        .anexos {
            display: flex;
            flex-direction: row;

            .anexo_card{
                width: 10%;
                display: flex;
                flex-direction: row;
                background-color: rgb(94, 149, 204);

                margin-right: .5rem;

                padding: .1rem;
                border-radius: 1rem;

                font-size: 5pt;
                
                justify-content: center;
                align-content: center;

                color: white;

                h4 {
                    margin: 0;
                }
            }
        }

        .buttons_box {
            display: flex;
            flex-direction: row;
            width: 20%;
            margin-left: 80%;

            button {
                padding: .5rem;
                width: 100%;

                border-radius: .1rem;
                border: none;

                font-weight: 200;
                font-size: 12pt;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: aliceblue;

                cursor: pointer;
            }

            button#anx{
                background-color: var(--blue);
                margin-right: 5px;
            }

            button#fim{
                background-color: var(--dark-blue);
            }
        }
    }
}
